global:
  domain: <path:argocd-config#domain>
  image:
    repository: quay.io/argoproj/argocd
    tag: "v2.13.3"
    imagePullPolicy: IfNotPresent
server:
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.tls: "true"
    labels: {}
    ingressClassName: "traefik"

    ## Argo Ingress.
    ## Hostnames must be provided if Ingress is enabled.
    ## Secrets must be manually created in the namespace
    ##
    hosts:
      - <path:argocd-config#domain>
    paths:
      - /
    pathType: Prefix
    tls:
      - secretName: tls-argocd-ingress
        hosts:
          - <path:argocd-config#domain>
    https: true


repoServer:
  replicas: 1
  resources:
    limits:
      cpu: 2000m
      memory: 1Gi
    requests:
      cpu: 250m
      memory: 512Mi
  livenessProbe:
    timeoutSeconds: 5
    periodSeconds: 10
  readinessProbe:
    timeoutSeconds: 5
    periodSeconds: 10
  volumes:
  # Mount the avp volume
    - configMap:
        name: avp-plugin
      name: avp-plugin
    - name: custom-tools
      emptyDir: { }
  initContainers:
    - name: download-tools
      image: registry.access.redhat.com/ubi8
      env:
        - name: AVP_VERSION
          value: 1.18.1
      command: [ sh, -c ]
      # download avp
      args:
        - >-
          curl -L https://github.com/argoproj-labs/argocd-vault-plugin/releases/download/v$(AVP_VERSION)/argocd-vault-plugin_$(AVP_VERSION)_linux_arm64 -o argocd-vault-plugin &&
          chmod +x argocd-vault-plugin &&
          mv argocd-vault-plugin /custom-tools/
      volumeMounts:
        - mountPath: /custom-tools
          name: custom-tools
  extraContainers:
  # creates a single argocd vault plugin for kustomize, raw yaml and helm
    - name: arocd-vault-plugin
      command: [ /var/run/argocd/argocd-cmp-server ]
      image: quay.io/argoproj/argocd:v2.13.3
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
      volumeMounts:
        - mountPath: /var/run/argocd
          name: var-files
        - mountPath: /home/argocd/cmp-server/plugins
          name: plugins
        - mountPath: /tmp
          name: tmp
        # Register plugins into sidecar
        - mountPath: /home/argocd/cmp-server/config/plugin.yaml
          subPath: avp.yaml
          name: avp-plugin
        - mountPath: /home/argocd/cmp-server/avp-check.sh
          subPath: avp-check.sh
          name: avp-plugin
        - mountPath: /home/argocd/cmp-server/avp-generate.sh
          subPath: avp-generate.sh
          name: avp-plugin

        # Important: Mount tools into $PATH
        - name: custom-tools
          subPath: argocd-vault-plugin
          mountPath: /usr/local/bin/argocd-vault-plugin
