ingress:
  enabled: true
  className: traefik

  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    traefik.ingress.kubernetes.io/service.sticky.cookie: "true"
    traefik.ingress.kubernetes.io/service.sticky.cookie.name: "n8n-session"
    traefik.ingress.kubernetes.io/service.passhostheader: "true"

  hosts: 
    - host: <path:n8n-config#domain>
      paths:
        - path: /
          pathType: ImplementationSpecific

  tls:
    - hosts:
        - <path:n8n-config#domain>
      secretName: tls-n8n-ingress

db:
  type: postgresdb

postgresql:
  enabled: true
  auth:
    database: n8n
    username: postgres
    existingSecret: n8n-postgresql
    secretKeys:
      adminPasswordKey: password

  primary:
    persistence:
      accessMode: ReadWriteOnce
      storageClass: longhorn
      size: 10Gi

worker:
  mode: queue
  count: 2
  persistence:
    enabled: true
    accessMode: ReadWriteOnce
    storageClass: longhorn
    size: 5Gi
  pdb:
    enabled: true
    minAvailable: 1
  extraEnvVars:
    N8N_PUSH_BACKEND: websocket
    N8N_TRUST_PROXY_HEADER: "true"
    N8N_PROXY_HOPS: "1"
    N8N_RESTRICT_FILE_ACCESS_TO: "/home/node/.n8n:/home/node/.n8n-files"
    N8N_ALLOWED_REPOSITORY_PATHS: "/home/node/.n8n-files/git"
  initContainers:
    - name: create-git-directory
      image: busybox:latest
      command:
        - /bin/sh
        - -c
        - mkdir -p /home/node/.n8n-files/git && chown -R 1000:1000 /home/node/.n8n-files
      volumeMounts:
        - name: data
          mountPath: /home/node/.n8n-files

redis:
  enabled: true

main:
  count: 1
  persistence:
    enabled: true
    size: 10Gi
    storageClass: longhorn
    accessMode: ReadWriteOnce
  extraEnvVars:
    N8N_PUSH_BACKEND: websocket
    N8N_TRUST_PROXY_HEADER: "true"
    N8N_PROXY_HOPS: "1"
    N8N_RESTRICT_FILE_ACCESS_TO: "/home/node/.n8n:/home/node/.n8n-files"
    N8N_ALLOWED_REPOSITORY_PATHS: "/home/node/.n8n-files/git"
  initContainers:
    - name: create-git-directory
      image: busybox:latest
      command:
        - /bin/sh
        - -c
        - mkdir -p /home/node/.n8n-files/git && chown -R 1000:1000 /home/node/.n8n-files
      volumeMounts:
        - name: data
          mountPath: /home/node/.n8n-files

encryptionKey: <path:n8n-config#key>
