ingress:
  enabled: true
  className: traefik

  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"

  hosts: 
    - host: <path:n8n-config#domain>
      paths:
        - path: /
          pathType: ImplementationSpecific

  tls:
    - hosts:
        - <path:n8n-config#domain>
      secretName: tls-n8n-ingress

db:
  type: postgresdb

postgresql:
  enabled: true
  auth:
    database: n8n
    username: postgres
    existingSecret: n8n-postgresql
    secretKeys:
      adminPasswordKey: password

  primary:
    persistence:
      accessMode: ReadWriteOnce
      storageClass: longhorn
      size: 10Gi

worker:
  mode: queue
  count: 2
  persistence:
    enabled: true
    accessMode: ReadWriteOnce
    storageClass: longhorn
    size: 5Gi
  pdb:
    enabled: true
    minAvailable: 1

redis:
  enabled: true

main:
  count: 1
  persistence:
    enabled: true
    size: 10Gi
    storageClass: longhorn
    accessMode: ReadWriteOnce

encryptionKey: <path:n8n-config#key>
