image:
  repository: docker.io/linuxserver/jellyfin
  tag: ""

ingress:
  enabled: true
  ingressClassName: traefik

  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"

  hosts: 
    - host: <path:jellyfin-config#domain>
      paths:
        - path: /
          pathType: ImplementationSpecific

  tls:
    - hosts:
        - <path:jellyfin-config#domain>
      secretName: tls-jellyfin-ingress

resources:
  limits:
    cpu: 2000m
    memory: 2Gi
  requests:
    cpu: 500m
    memory: 512Mi

persistence:
  config:
    enabled: true
    isPvc: true
    storageClass: "longhorn"
    accessModes:
      - ReadWriteOnce
    size: 2Gi
  data:
    enabled: true
    isPvc: true
    existingClaim: "media-pvc"
